.icons {
  display: inline-block;
  width: $icon-size;
  height: $icon-size;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: middle;

  &.icon-list {
    background-image: url('../assets/icons/list.svg');
  }

  &.icon-add {
    background-image: url('../assets/icons/add.svg');
  }

  &.icon-qa {
    background-image: url('../assets/icons/quiz.svg');
  }

  &.icon-logout {
    background-image: url('../assets/icons/logout.svg');
  }

  &.icon-close {
    background-image: url('../assets/icons/close.svg');
  }

  &.icon-more-vert {
    background-image: url('../assets/icons/more-vert.svg');
  }

  &.icon-more-horiz {
    background-image: url('../assets/icons/more-horiz.svg');
  }
}

.fab-icon {
  .mat-button-wrapper {
    padding: 0!important;
  }
}
